@{
    ViewData["Title"] = "Test Login";
}

<h2>Test Login</h2>

<form asp-controller="Test" method="post">
    <input name="username" />
    <input name="password" type="password" />
    <button type="submit">Login</button>
</form>
